div#dataContainer {
    flex-direction: column;

    div#areaData {
        align-items: center;
        justify-content: center;

        margin-bottom: 30px;
    }

    @media screen and (max-width: 1078px) {
        div#areaData {
            flex-direction: column;
        }
    }

    div#barData {
        width: 100%;
        height: 15px;

        border-radius: 40px;
        
        background-color: hsl(0, 0%, 95%);
        
        div#loadingBar {
            width: 76.000%;
            height: 15px;
            
            border-radius: 40px;

            background-color: var(--primary-moderate-cyan);
        }
    }
}

div#dataContainer, div#areaData, div.data {
    display: flex;
}