div.checkBox {
    justify-content: center;
    align-items: flex-start;

    cursor: pointer;
    
    div.buttonCheck {
        width: 25px;
        height: 25px;

        border-radius: 25px;
        border: 1px solid var(--primary-moderate-cyan);

        background-color: #ffffff;

        margin-right: 30px;

        display: flex;
        justify-content: center;
        align-items: center;

        div.selected {
            width: 15px;
            height: 15px;

            background-color: var(--primary-moderate-cyan);

            border-radius: 20px;

            // display: none;
        }
    }

    article.articleCheckBox {
        h4.titleCheckBox {
            font-size: 15px;
        }

        h4.titleCheckBox:hover {
            color: var(--primary-moderate-cyan);
        }
    }

    article.articlePurchase {
        
        div.titles {
            font-size: 15px;

            height: 25px;

            align-items: center;
            
            h4.titleCheckBox:hover {
                color: var(--primary-moderate-cyan);
            }

            h4.price {
                margin-left: 20px;
                
                color: var(--primary-moderate-cyan);
            }

            position: relative;

            div.counter {
                justify-content: center;
                align-items: center;

                position: absolute;
                right: 0;

                span.stronger {
                    color: #000000;

                    font-size: 20px;
                    font-weight: 700;

                    margin-right: 5px;
                }

                span.weak {
                    color: var(--neutral-dark-gray);
                
                }
            }
        }
    }

    article.articleCheckBox, article.articlePurchase {
        flex-direction: column;
        width: 86%;
    }
}

div.barSelect {

    div.containerInput {
        width: 400px;

        align-items: center;
        justify-content: flex-end;

        div.areaInput {
            align-items: center;
            justify-content: center;
            
            border-radius: 25px;
            border: 1px solid var(--primary-moderate-cyan);

            padding: 10px 20px;

            margin-right: 15px;

            input {
                width: 30px;

                font-weight: 700;

                border: none;
                outline: none;
                box-shadow: none;
            }

        }
    }
}

div.checkBox, div.barSelect {
    margin: 20px;
}

div.barSelect {
    justify-content: space-between;
    align-items: center;
}

article.articleCheckBox, 
div.checkBox, 
article.articlePurchase, 
div.titles, 
div.counter, 
div.barSelect, 
div.containerInput, 
div.areaInput {
    display: flex;
}