section.sectionBenefit {

    article.articleBenefit {
        
        div.containerSection {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}