div#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    transition: all 0.2s;
}