div#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    position: absolute;
    top: 535px;
    left: 50%;
    transform: translate(-50%, -50%);
}