* {
    margin: 0;
    padding: 0;

    font-family: Commissioner;
}

body {
    background-color: hsl(0, 0%, 95%);
    
}

:root {
    --primary-moderate-cyan: hsl(176, 50%, 47%);
    --primary-dark-cyan: hsl(176, 72%, 28%);

    --neutral-black: hsl(0, 0%, 0%);
    --neutral-dark-gray: hsl(0, 0%, 48%);
}