button.buttonOn, button.buttonOff {
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: none;
    
    outline: none;
    box-shadow: none;
    
    border-radius: 30px;
    
    span.buttonText {
        color: white;
        
        font-weight: 700;
    }
}

button.buttonOn:hover {
    background-color: var(--primary-dark-cyan);
}

button.buttonOn {
    background-color: var(--primary-moderate-cyan);
}

button.buttonOff {
    background-color: var(--neutral-dark-gray);

    cursor: default;
}