div.dataComponent {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    flex: 1;

    h1 {
        font-size: 30px;
    }

    span {
        font-size: 15px;

        color: var(--neutral-dark-gray);
    }

    h1, span {
        margin: 5px 0;
    }
}