header#header {
    width: 100%;
    height: 95px;
    
    span#logo {
        color: #ffffff;

        font-weight: 700;
        font-size: 25px;

        margin-left: 10vw;
    }

    div#links {
        padding: 20px;
        box-sizing: border-box;

        margin-right: 5.5vw;
    }
}

header#header, div#links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}