div.brightness {
    width: 100%;
    height: 3100px;

    background-color: rgba(0, 0, 0, 0.5);
    
    position: absolute;

    align-items: center;

    top: 50%;
}

div.window {
    padding: 30px;

    width: 650px;
    
    flex-direction: column;
    
    background-color: #ffffff;
    
    border-radius: 10px;

    position: relative;
    top: 200px;

    align-items: left;
}

div.brightness, div.window {
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, -50%);
}